
.headerlogo {
    text-align: center;
}

.logo {
    width: 350px;
    padding: 50px 0px 20px 45px;
}

.navbarlist {
    list-style-type: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1.5px;
}

.navitem {
    display: inline-block;
    padding: 0px 150px;
}

.links {
    text-decoration: none;
    color: #3c3738;
}

.links:visited {
    color: #3c3738;
}

.container {
    padding: 20px 0px 40px 0px;
    background-color: #df6d8d;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    color: #9B9B9B;
    font-size: 14px;
    margin-left: 40px;
}
