.container {
    margin: 0px 100px;
    font-family: 'Montserrat', sans-serif;
  }

  .heading {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  .ingredientform {
    padding-bottom: 40px;
  }

  .numberinput {
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1.5px;
    border-radius: 10px;
    border-width: 1px;
  }

  .input {
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        height: 30px;
        width: 100px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 15px;
        letter-spacing: 1.5px;
        border-radius: 10px;
        border-width: 1px;
      }

      .unitinput {
        text-align: center;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 30px;
        width: 200px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 15px;
        letter-spacing: 1.5px;
        border-radius: 10px;
        border-width: 1px;
      }

      .calculatebutton {
        height: 40px;
        width: 150px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 18px;
        letter-spacing: 1.5px;
        background-color: #df8fa6;
        border: none;
        border-radius: 10px;
        margin-left: 20px;
      }
      .biglinks {
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-weight: 600;
      }
